## Lists, Dictionaries and Sets in Python

## Part 1

### Lists in Python

Sequences in Python are data structures that hold objects in an ordered array. Now, we will work on Lists, the most common sequence data types in Python.

In [1]:
#Example 
l1 = ['learning', "Python", 'is fun?', True]
print(l1)

['learning', 'Python', 'is fun?', True]

List can also be created by using list() function.

In [2]:
#Example
l2 = list(("learning", "for", "life", True))
print(l2)

['learning', 'for', 'life', True]

Adding to an existing list

In [3]:
#solution
l1.append(10)

In [4]:
l1

['learning', 'Python', 'is fun?', True, 10]

Removing from an existing list

In [5]:
l1.remove(10)

Joining 2 lists

In [6]:
l1 = ['learning', "Python", 'is fun?', True]
l2 = list(("learning", "for", "life", True))

In [7]:
l1+l2

['learning', 'Python', 'is fun?', True, 'learning', 'for', 'life', True]

In [8]:
l1.extend(l2)
print(l1)

['learning', 'Python', 'is fun?', True, 'learning', 'for', 'life', True]

Number List

In [9]:
l3 = [2,4,6,8]

In [10]:
sum(l3)

20

In [11]:
len(l3)

4

In [12]:
print("mean:",sum(l3)/len(l3))

mean: 5.0

In [13]:
min(l3)

2

In [14]:
max(l3)

8

In [15]:
print("range:",max(l3)-min(l3))

range: 6

Count the occurances of an element in a given list.

In [16]:
(l3 + [0,1,3,3,5,5,7,9]).count(5)

2

Sorting and Reversing a list

In [17]:
l3.sort(reverse = True)
print(l3)

[8, 6, 4, 2]

### Functions

**Example:**

**def** function_name(args)**:**
    
    function code goes here

In [18]:
def sum_3(a,b,c): 
    d = a+b+c 
    return d

In [19]:
sum_3(2,3,5)

10

### Lambda Functions

Anonymous functions or no name functions, which can be considered when you use a function only once.

**Example:**

f = lambda x, y : x + y

f(1,1)

2

### Question 8

Write the same above **sum_3** function using lambda.

In [20]:
f = lambda x,y,z: x+y+z

In [21]:
f(1,2,3)

6