In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
from sklearn import svm

In [6]:
import matplotlib.pyplot as plt

In [7]:
def getAccuracy(testSet, predictions):
	correct = 0
	for x in range(len(testSet)):
		if testSet[x]== predictions[x]:
			correct += 1
	return (correct/float(len(testSet))) * 100.0

In [8]:
letters_df = pd.read_csv("/content/letterdata.csv")

letters_df.describe().transpose()   # This is useless in this problem case. So avoid...

In [9]:
letters_df.head(10)   # all fields except the target ("letter") are numeric. We do not know the scale. So normalize

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
5,S,4,11,5,8,3,8,8,6,9,5,6,6,0,8,9,7
6,B,4,2,5,4,4,8,7,6,6,7,6,6,2,8,7,10
7,A,1,1,3,2,1,8,2,2,2,8,2,8,1,6,2,7
8,J,2,2,4,4,2,10,6,2,6,12,4,8,1,6,1,7
9,M,11,15,13,9,7,13,2,6,2,12,1,9,8,1,1,8

In [10]:
clf = svm.SVC(gamma=0.025, C=3)    
# gamma is a measure of influence of a data point. It is inverse of distance of influence. C is complexity of the model
# lower C value creates simple hyper surface while higher C creates complex surface

In [11]:
X,y = np.array(letters_df)[ :, 1:16], np.array(letters_df.letter)[:]   # note for y, extracting all rows of "letter" col

In [12]:
X_train = X[:16000, :]
X_test = X[16001: , :]
y_train = y[:16000]
y_test = y[16001:]

In [13]:
clf.fit(X_train , y_train)

SVC(C=3, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.025, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [14]:
y_pred = clf.predict(X_test)

In [15]:
type(y_pred)

numpy.ndarray

In [16]:
type(y_train)

numpy.ndarray

In [17]:
y_pred
y_pred = ", " + y_pred

In [18]:
getAccuracy(y_test , y_pred)   # Calling getAccuracy function instead of usinig array comparison to get the %age accuracy

0.0

In [19]:
y_grid = (np.column_stack([y_test, y_pred]))

In [20]:
print(y_grid)

[['N' ', N']
 ['V' ', V']
 ['I' ', I']
 ...
 ['T' ', T']
 ['S' ', S']
 ['A' ', A']]

###

In [24]:
np.savetxt("osr.csv", y_grid , fmt='%s')